/SOA/Library
/SOA/obj
/SOA/SOA-csharp.sln
/SOA/SOA-csharp.suo
/SOA/SOA.sln
GeneratedFiles
bin
obj
Soa_Sim_3_3_16.exe
Soa_Sim_1_7_16
Soa_Sim_2_9_16_Data
Soa_Sim_2_29_16_Data
Soa_Sim_3_3_16_Data
Soa_Sim_2_9_16.exe
Soa_Sim_2_29_16.exe
old_releases
